td{
    color: aquamarine;
}

#micolor{
    color: blueviolet;
    font-size: 50px;
}

.miclase1{
    color: chartreuse;
}

.miclase2{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: crimson;
}
.center{
    text-align: center;
}

.color1{
    color: green;
}

.color1:hover{
    color: #87cc87;
    text-align: left;
}